<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/hoticket</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.connection.pool_size">10</property>
		<property name="show_sql">true</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<mapping class="com.hoticket.modal.User" />
		<mapping class="com.hoticket.modal.Customer" />
		<mapping class="com.hoticket.modal.Employee" />
		<mapping class="com.hoticket.modal.Billing_account" />
		<mapping class="com.hoticket.modal.Billing_address" />
		<mapping class="com.hoticket.modal.Pay_history" />
		<mapping class="com.hoticket.modal.Guest_billing_account" />
		<mapping class="com.hoticket.modal.Guest_billing_address" />
		<mapping class="com.hoticket.modal.Guest_pay_history" />
		<mapping class="com.hoticket.modal.Showing" />
		<mapping class="com.hoticket.modal.Movie" />
		<mapping class="com.hoticket.modal.Theatre" />
		<mapping class="com.hoticket.modal.Rating" />
		<mapping class="com.hoticket.modal.Price_table" />
		<mapping class="com.hoticket.modal.Gift_card" />
		<mapping class="com.hoticket.modal.Cast" />
		<mapping class="com.hoticket.modal.Subscription" />
	</session-factory>
</hibernate-configuration>
